<h1>Questions#ask</h1>

<!-- Your question to your coach should be given as a parameter named :query.
Ex: GET /answer?query=hello or GET /answer?query=what+should+i+do?. -->



<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
